
<body class="homeBody">
  <div class="center jumbotron jumboMain">
  <h1 class="text-center">Shopping List by Category</h1>
</div>

<div class="container text-center">
  <p>
     <%= link_to "View Shopping List", shoppings_path, class: "btn btn-warning btn-lg" %>
  </p>
</div>

</html>
  