<div class="center jumbotron jumboChild">
  <h2 class="text-center">Fruits and Vegetables</h2>
</div>

<%= render "layouts/flash" %>
<div class="well">
<p class="itemsFont">
  <span class="boldText">Fruits and Vegetables:</span> <%= @veggie.item %>
</p>

<%= link_to "Edit this item", edit_vegetable_path(@veggie), class: "btn btn-warning" %> |
<%= link_to "Back To Shopping list", vegetables_path, class: "btn btn-primary" %>
</div>
