<div class="center jumbotron jumboChild">
  <h2 class="text-center">Meat, Fish, Chicken</h2>
</div>

<%= render "layouts/flash" %>
<div class="well">
<p class="itemsFont">
  <span class="boldText">Item:</span><%= @butcher.item %>
</p>

<%= link_to "Edit this item", edit_butcher_path(@butcher), class: "btn btn-warning" %> |
<%= link_to "Back To Shopping list", butchers_path, class: "btn btn-primary" %>
</div>
